



header {
    box-shadow: none !important;
}

.pageLayout{
    background-color: white;
    padding: 40px;
    padding-top: 60px;
    border-radius: 12px;
}
.content-topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.content-title{
    display: flex;
    align-items: center;
    gap: 10px;
}
.mainMenu .css-cveggr-MuiListItemIcon-root{
min-width: 34px !important;
}
.mainMenu .css-cveggr-MuiListItemIcon-root svg {
    height: 18px;
    width: auto;
}
.mainMenu .MuiListItemText-root span {
    font-size: 0.95em;

}
.normalFlex {
    display: flex;
    align-items: center;
    gap: 10px;
}
.normalFlexWithSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.endFlex {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
.gap-15 {
    display: flex;
    gap: 25px !important;
}


.menuItem .MuiSvgIcon-root, .MuiListItemIcon-root {
    width: 17px !important;
    min-width: 17px !important;
  }
  .MuiBox-root.css-1stml53 .css-95f9g5-MuiToolbar-root {
    display: none;
  }

  .productGrid {
    margin-top: 40px;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem 0;
    /* padding: 1rem; */
  }




  /* Medium Screens (Tablets) */
  @media (max-width: 1024px) {
    .productGrid {
      grid-template-columns: repeat(3, 1fr); /* 2 columns */
    }
  }

  /* Small Screens (Mobile) */
  @media (max-width: 768px) {
    .productGrid {
      grid-template-columns: repeat(2, 1fr); /* 1 column */
    }
  }
